/* main.css */

body {
	/*font-family: 'Nunito', Arial, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight: 300;
	/*border: solid red 1px;*/
}
h4 {
/*	margin-left: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
*/
}
p {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
ul {
	list-style-type: none;
}
li {
	margin-left: 0;
}
canvas {
	/*border: solid 1px red;*/
}
label {
	font-weight: normal;
}
.logo {
	font-family: fantasy;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-family: 'Open Sans Condensed', Arial, sans-serif;*/
	font-size: 1.65em;
	font-weight: inherit;
	color: #666;
}
.label {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
.results {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}